*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    padding: 3px;
    background-color: white;
}

#search-box{
    font-size: 20px;
    padding: 7px 10px;
    border: none;
    outline: none;
    display: none;
}

#search-icon{
    font-size: 25px;
    background-color: white;
    padding: 8px 10px;
}

#search-icon:hover{
    cursor: pointer;
}