*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    filter: blur(90px);
}

.container h1{
    background: blueviolet;
    text-align: center;
    padding: 10px 0px;
    color: white;
}

#playGround
{
    /* border: 1px solid red; */
    display: flex;
    text-align: center;
    margin-top: 20px;
    
    gap: 1em;
}

#playGround h2{
    background-color: #8E24AA;
    width: 100%;
    padding: 10px 0px;
    font-size: 30px;
    color: white;
}

#player1{
    width: 30%;
    min-height: 400px;
    background-color: #e3c5ff;
    position: relative;
}

#ScoreBoard{
    width: 40%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: #311b92;
    background-color: #e3c5ff;
}

#ScoreBoard .round{
    width: 100%;
    /* border: 1px solid red; */
}

#ScoreBoard .round h3{
    /* border: 1px solid red; */
    padding: 10px;
    font-size: 25px;
}

#ScoreBoard .round p{
    padding: 10px;
    font-size: 25px;
}

#winnermsg{
    /* border: 1px solid red; */
    justify-self: flex-end;
}

#winnermsg h3{
    font-size: 25px;
}

#msg{
    margin: 10px;
    font-size: 20px;
}

#playerScore{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-around;
    font-size: 25px;
}


.score{
    margin: 10px;
    /* border: 1px solid red; */
    font-size: 30px;
}

#computer{
    width: 30%;
    /* border: 1px solid red; */
    background-color: #e3c5ff;
}


#userChoice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    margin-top: 70px;
}

#StartBtn{
    width: 90%;
    margin: auto;
    padding: 7px 25px;
    margin-bottom: 10px;
    font-size: 22px;
    color : white;
    background-color: blueviolet;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

#choices{
    display: flex;
    justify-content: center;
    align-items: center;
}

#choices img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 35px;
    cursor: pointer;
}

.clicked img{
    outline: blueviolet solid 5px;
    outline-offset: 3px;
    transform: scale(1.1)  rotate(360deg);
    transition: transform 1s;
    
}

#ResetGame , #NewGame , #WinNewGame, #WinResetGame{
    padding: 9px 35px;
    font-size: 25px;
    color : white;
    background-color: blueviolet;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.gamebtn{
    display: flex;
    justify-content: space-around;
}


#user_choice_img img , #computer_img img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin: 55px;
    outline: #8E24AA solid 5px;
    outline-offset: 5px;
}

#user_choice_txt , #computer_txt{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0035ff;
}

#ResetGame:hover , #NewGame:hover , #WinResetGame:hover, #WinNewGame:hover{
    transform: scale(1.05);
    transition: 0.5s;
}



/* model */

#model-container{
    width: 45%;
    height: 400px;
    background-color: #fff;
    position: absolute;
    z-index: 1; 
    left:calc(100% - 45% - 28%);
    top: 120px;
    border-radius: 10px;    
    display: flex;
    flex-direction: column;    
    /* display: none; */
}

#model-header{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 20px;
    align-items: center;
    color: white;
    background-color: blueviolet;
    border-top-right-radius: 9px;    
    border-top-left-radius: 9px;    
}

#model-header p{
    flex-grow: 2;
    text-align: center;
    font-size: 35px;
}


#model-content{
    padding: 20px;
    height: 280px;
    background-color: #8E24AA;
    color: white;
}

.userNameInp{
    display: flex;
    align-items: center;
    margin-bottom : 30px;
    margin-top: 30px;
    margin-left: 40px;
    /* border: 1px solid black; */
    
}

.userNameInp label , .userPlayRound label{
    font-size: 27px;
    /* border: 1px solid black; */
}

.userPlayRound{
    display: fl2x;
    margin-left: 40px;
    align-items: center;
    margin-bottom : 50px;
}

.userPlayRound #roundPlay{
    padding: 7px 5px;
    text-align: center;
    border-radius: 50px;
    margin-left : 10px;
    font-size: 20px;
    border: none;
    outline: none;
}

.userNameInp #userName{ 
    padding: 7px 15px;
    width: 250px;
    text-align: center;
    margin-left : 10px;
    border-radius: 50px;
    font-size: 23px;
    border: none;
    outline: none;
}

#userName:invalid , #roundPlay:invalid{
    border: 2px solid red;
}

#userName:valid , #roundPlay:valid{
    border: 2px solid green;
}


#footer div{
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height:40px;
    color: #fff;
    background-color: blueviolet;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

#playBtn{
    cursor: pointer;
    padding: 7px 33px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    margin: auto;
    display: block;
}


/* winner */

#winner-sec{
    width: 100%;
    border: 1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-image: linear-gradient(pink , blue);
    color: white;
    display: none;
}

#WinNewGame, #WinResetGame{
    border: 2px solid white;
}

#winner-sec h1{
    font-size: 80px;
}
#winner-sec h2{
    font-size: 40px;

}